.mainHomeContainer {
  background-color: #ebeaeb;
}
.userListComponentMainDiv {
  max-height: 85vh;
  overflow: auto;
}
.wholeContentContainer {
  background-color: #fff;
}
.userSearchInput {
  border: none;
}
.userSearchInput:focus {
  box-shadow: none;
}
.userSearchDiv {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 0 10px 0 0;
}
.avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}
.avatarActiveStatus {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  left: 45px;
  transform: translateY(-10px);
}
.avatarActiveStatusColor {
  background-color: green;
}
.avatarInactiveStatus {
  background-color: #888;
}
.smallFont {
  font-size: 10px;
}
.noMargin {
  margin: 0;
}
.userListItemDiv {
  border: solid 1px #ccc;
  padding: 5px 5px 5px 0px;
  border-radius: 5px;
}
.chatComponentMainDiv {
  border: solid 1px #ccc;
  border-radius: 5px;
  max-height: 85vh;
}
.chatScreenTopBulb {
  height: 10px;
  width: 10px;
  /* background-color: green; */
  border-radius: 50%;
}
.heavyFont {
  font-weight: 700;
}
.smallFont11 {
  font-size: 11px;
}
.favColor {
  color: #b40008;
}
.chatScreenBodyMain {
  height: 100%;
}
.chatScreenBody {
  max-height: 65vh;
  overflow: auto;
}
.chatMainScreenFooterMainDiv {
  position: relative;
}
.chatMainScreenInputDiv {
  position: absolute;
  min-width: 100%;
  bottom: -80px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.chatMainScreenInputDiv > input {
  border: none;
  flex: 12;
}
.chatMainScreenInputDiv > input:focus {
  box-shadow: none !important;
  border: none;
}
.sendButton {
  flex: 1;
  background-color: #b40008;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  padding: 2px;
}
.chatMessage {
  font-size: 13px;
}
.shortText {
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid #000000; */
}
.noActiveUserChatBody {
  text-align: center;
  min-height: 85vh;
}
